/node_modules
/public/W*
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
/tmp
/docker/
/docker/*
/_docker/
/_docker/*
/supervisor/*
/supervisor/supervisord.conf
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
package-lock.json
composer.lock
