#app {
  .main-container {
    .el-button {
     // height: 30px;
     // padding: 0px 10px;
      &--custom {
        border-radius: 8px;
        padding: 2px 8px;
        transition: transform 0.2s ease;
        &:active {
          transform: scale(0.88);
        }
      }
    }
    .el-button {
     // height: 30px;
     // padding: 10px 10px;
    }
    .el-button+.el-button {
      margin-left: 6px;
    }

  }
}
