.el-input.el-input--small {
  --el-input-height: 26px !important;
  --el-input-inner-height:calc(var(--el-input-height) - 2px) !important;
}

.el-input.el-input--medium {
  --el-input-height: 30px !important;
  --el-input-inner-height:calc(var(--el-input-height) - 2px) !important;
}

.el-input.el-input--large {
  --el-input-height: 34px !important;
  --el-input-inner-height:calc(var(--el-input-height) - 2px) !important;
}
