// Определение глобальной переменной
$menuText: #bfcbd9;
$menuActiveText: #e59808;
$subMenuActiveText: #f4f4f5;

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$sideBarWidth: 290px;

//navbar
$navBarHeight: 50px;
//tagsView
$tagViewHeight: 38px;
//app-main padding
$appMainPadding: 10px;
